<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/css/dist.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="../assets/js/script.js" defer></script>
    <script
      src="https://unpkg.com/flowbite@1.4.6/dist/flowbite.js"
      defer
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"
      integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <title>Dcordlink</title>
  </head>
  <body class="bg-dark-100">
    <div class="bg-dark-200 text-white">
      <div class="md:flex md:items-center md:justify-between p-4">
        <p class="text-center text-2xl md:text-lg mb-4 md:mb-0">
          Manage <span class="font-bold"><%= link.name %></span>
        </p>

        <ul class="text-xs md:text-sm justify-center flex">
          <li class="mr-4">
            <a href="/dash" class="text-white hover:text-gray-300"> Home </a>
          </li>
          <li class="mr-4">
            <a href="/dash/<%= link.id  %> " class="text-white"> Settings </a>
          </li>
          <li class="mr-4">
            <a
              href="/dash/<%= link.id  %>/analytics"
              class="text-white hover:text-gray-300 font-bold"
            >
              Analytics
            </a>
          </li>
          <li class="mr-4">
            <a
              href="/dash/<%= link.id  %>/embed"
              class="text-white hover:text-gray-300"
            >
              Embed configaration
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div
      class="
        container
        mt-10
        text-center
        md:text-left
        items-center
        justify-center
        mx-auto
      "
    >
      <div class="font-bold text-3xl text-white font-robotoMono">
        <i class="fa-solid fa-chart-line"></i> Analytics
        <p class="text-gray-400 font-light text-sm mb-0 mt-2">
          Below you can see the total clicks form your invite.
        </p>
      </div>
      <form>
        <div class="bg-gray-100 rounded text-white max-w-[55rem] shadow-xl">
          <div class="mt-5 mb-5">
            <canvas id="<%= link.id %>" class="w-6"></canvas>
          </div>
        </div>
      </form>
    </div>

    <script>
      var ct = document.getElementById("<%= link.id %>").getContext("2d");

      var myChart = new Chart(ct, {
        type: "line",
        data: {
          labels: ["Total"],
          datasets: [
            {
              label: "Total clicks",
              data: [<%= link.clicks %>],
              backgroundColor: ["rgba(66, 103, 178, 1)"],
            },
          ],
        },
      });
    </script>
  </body>
</html>
