<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Dcordlink - Manage <%= invite.slug %></title>
  </head>
  <body>
    <%- include('./includes/nav.ejs') %>

    <!-- toolbar -->
    <div class="toolbar">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="toolbar-content">
              <div class="toolbar-content-left">
                <h1>Manage <%= invite.slug %></h1>
              </div>
              <div class="toolbar-content-right">
                <a href="/dash/i/<%= invite._id %>/edit" class="toolbar-item"
                  ><i class="fa-solid fa-gear"></i> Settings</a
                >
                <a
                  href="/dash/i/<%= invite._id %>/edit/analytics"
                  class="toolbar-item active"
                  ><i class="fa-solid fa-chart-line"></i> Analytics</a
                >
                <a
                  href="/dash/i/<%= invite._id %>/edit/embed"
                  class="toolbar-item"
                  ><i class="fas fa-window-restore"></i> Embed configuration</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="container mt-5 p-4"
      style="background: #272f40; border-radius: 5px"
    >
      <div class="row">
        <div class="col-md-12">
          <div class="card card-analytics">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 text-white">
                  <h3>Analytics</h3>
                  <p style="color: #a8abae">
                    Here you can view analytics for your invite.
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="card card-no-transform mb-2">
                        <div class="card-body">
                          <h4><i class="fa-solid fa-chart-line"></i> Total</h4>
                          <p><%= invite.clicks %></p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="card card-no-transform">
                        <div class="card-body">
                          <h4>
                            <i class="fa-solid fa-chart-line"></i> Unique views
                          </h4>
                          <p>0</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
