<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/css/dist.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="../assets/js/script.js" defer></script>
    <script
      src="https://unpkg.com/flowbite@1.4.6/dist/flowbite.js"
      defer
    ></script>
    <title>Dcordlink</title>
  </head>
  <body class="bg-dark-400">
    <%- include("./includes/Navbar.ejs") %>
    <div class="bg-dark-100 text-white">
      <div class="md:flex md:items-center md:justify-between p-4">
        <p class="text-center text-2xl md:text-lg mb-4 md:mb-0">
          Manage <span class="font-bold"><%= link.name %></span>
        </p>

        <ul class="text-xs md:text-sm justify-center flex">
          <li class="mr-4">
            <a href="/dash" class="text-white hover:text-gray-300"> Home </a>
          </li>
          <li class="mr-4">
            <a href="/dash/<%= link.id  %> " class="text-white"> Settings </a>
          </li>
          <li class="mr-4">
            <a
              href="/dash/<%= link.id  %>/analytics"
              class="text-white hover:text-gray-300"
            >
              Analytics
            </a>
          </li>
          <li class="mr-4">
            <a
              href="/dash/<%= link.id  %>/embed"
              class="text-white hover:text-gray-300 font-bold"
            >
              Embed configaration
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div
      class="
        container
        mt-10
        text-center
        md:text-left
        items-center
        justify-center
        mx-auto
      "
    >
      <div class="font-bold text-3xl text-white font-robotoMono">
        <i class="fa fa-gear"></i> Embed configaration
      </div>
      <form action="/api/v1/links/<%= link.id %>?_method=PUT" method="post">
        <div class="mt-4">
          <label
            class="block mb-2 text-sm font-medium text-gray-300"
            for="name"
          >
            Description
          </label>
          <textarea
            class="form-control !w-[75%]"
            id="description"
            name="description"
            type="text"
            placeholder="Enter your servers description, eg. My server is so awesome!"
            maxlength="150"
            required
          >
<%= link.description %></textarea
          >
        </div>
        <div class="mt-4">
          <label
            class="block mb-2 text-sm font-medium text-gray-300"
            for="name"
          >
            Color
          </label>
          <input
            class="form-control !w-[15rem]"
            name="color"
            type="color"
            value="<%= link.themeColor %>"
            required
          />
        </div>

        <div class="mt-4">
          <button class="btn-danger" type="reset">Reset</button>
          <button class="btn-green" type="submit">Update</button>
        </div>
      </form>
    </div>
  </body>
</html>
