<!DOCTYPE html>
<html lang="en" page-load="true" dark-mode="false" scrollbar="hidden">
  <head tailwind="true">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./assets/css/dist.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="assets/js/script.js" defer></script>
    <script
      src="https://unpkg.com/flowbite@1.4.6/dist/flowbite.js"
      defer
    ></script>
    <title>Dcordlink</title>
  </head>
  <body class="bg-dark-400">
    <%- include('./includes/Navbar.ejs') %>
    <div
      class="flex flex-col text-center items-center"
      id="main-content"
      sub-id="<%= subId  %> "
    >
      <div class="mt-10">
        <h1 class="text-white text-4xl mb-3 md:text-5xl font-bold select-none">
          <em>Dcordlink</em>
        </h1>
        <p class="text-sm text-gray-400 md:text-lg">
          Custom discord server redirect urls, with Analytics & much more!
        </p>
      </div>
      <div class="mt-3">
        <a
          href="/dash"
          class="
            inline-block
            px-4
            py-2
            text-white
            bg-gradient-to-r
            from-blue-100
            to-blue-500
            rounded-md
            font-bold
            transition-all
            duration-200
            hover:scale-105
            focus:ring-2
          "
        >
          Create Your Own Link
        </a>
      </div>
    </div>

    <div subId="<%= subId %>">
      <hr class="w-[85%] md:w-[75%] mx-auto mt-7 border-dark-200" size="20" />
    </div>

    <section class="py-12" id="links" subId="<%= subId %>">
      <div>
        <h1
          class="
            text-center text-3xl text-transparent
            font-bold
            pb-1
            bg-clip-text bg-gradient-to-r
            from-green-100
            to-lime-300
          "
        >
          Explore Links
        </h1>
        <p class="text-sm text-gray-400 md:text-sm text-center pb-3">
          Here are some links that you might like to check out!
        </p>
      </div>
      <div class="flex flex-wrap justify-center">
        <% if (allLinks.length === 0) { %>
          <p class="text-center text-gray-400 font-bold md:text-sm pb-3">
            There is no links to check out!
          </p>
        <% } %>
        <% allLinks.map((link) => { %>
        <% if (link.private === "false") { %> 
        <div class="w-[500px] md:w-1/3 p-3 items-center hover:scale-105 transition-all" guild="<%= link.guild %>">
          <div class="bg-dark-300 rounded-lg shadow-lg p-6">
            <div class="flex flex-col">
              <div class="flex-1">
                <h3 class="text-lg text-gray-200 font-bold">
                  <em><%= link.name %></em>

                  <% if (link.clicks === 1) { %>
                  <spa class="text-sm text-gray-400"><%= link.clicks %> click</span>
                  <% } else { %>
                  <span class="text-xs text-gray-400">
                    <%= link.clicks %> clicks
                  </span>
                  <% } %>
                </h3>
                <p class="text-xs text-gray-400"><%= link.description %></p>

                <img
                  src="<%= link.icon %>"
                  alt="<%= link.name %>"
                  class="w-[5rem] h-[5rem] object-cover mb-2 mt-2 rounded-full"
                />
              </div>
              <div class="flex-2">
                <a
                  href="/<%= link.slug  %> "
                  target="_blank"
                  class="
                    inline-block
                    px-4
                    py-2
                    text-white
                    bg-gradient-to-r
                    from-blue-100
                    to-blue-500
                    rounded-md
                    font-bold
                    focus:ring-2
                  "
                >
                  Visit Link
                </a>
              </div>
            </div>
          </div>
        </div>
        <% } %>
        <% }) %>
      </div>
    </section>
    <div subId="<%= subId %>">
      <hr class="w-[85%] md:w-[75%] mx-auto mt-7 border-dark-200" size="20" />
    </div>

    <%- include("./includes/Footer.ejs")  %> 
    
 
  </body>
</html>
