<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= invite.meta.title  %> </title>
    
    
    <meta property="og:site_name" content="You have been invited to join a server!" />
    
    
  

  
    <meta property="og:title" content="<%= invite.meta.title %>">
    <meta property="twitter:title" content="<%= invite.meta.title %>">
    
      

 
    <meta property="og:description" content="<%= invite.meta.description %>" />
    <meta property="twitter:description" content="<%= invite.meta.description %>" />
 



    <meta property="twitter:card" content="summary">
    <meta property="twitter:image" content="<%= invite.meta.image %>" />
    <meta property="og:image" content="<%= invite.meta.image  %>" /> 
    <meta name="theme-color" content="<%= invite.meta.color %>">
    <meta http-equiv="refresh" content="0; url=https://discord.gg/<%= invite.code  %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
  <script>
    window.location.href = "https://discord.gg/<%= invite.code  %>";
  </script>
</body>
</html>