<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/dist.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="../assets/js/script.js" defer></script>
    <script
      src="https://unpkg.com/flowbite@1.4.6/dist/flowbite.js"
      defer
    ></script>
    <title>Dcordlink</title>
  </head>
  <body class="bg-dark-400">
    <%- include("./includes/Navbar.ejs") %>
    <div class="bg-dark-100 text-white">
      <div class="md:flex md:items-center md:justify-between p-4">
        <p class="text-center text-2xl md:text-lg mb-4 md:mb-0">
          Manage <span class="font-bold"><%= link.name %></span>
        </p>

        <ul class="text-xs md:text-sm justify-center flex">
          <li class="mr-4">
            <a href="/dash" class="text-white hover:text-gray-300"> Home </a>
          </li>
          <li class="mr-4">
            <a
              href="/dash/<%= link.id  %> "
              class="text-white hover:text-gray-300 font-bold"
            >
              Settings
            </a>
          </li>
          <li class="mr-4">
            <a
              href="/dash/<%= link.id  %>/analytics"
              class="text-white hover:text-gray-300"
            >
              Analytics
            </a>
          </li>
          <li class="mr-4">
            <a
              href="/dash/<%= link.id  %>/embed"
              class="text-white hover:text-gray-300"
            >
              Embed configaration
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div
      class="
        container
        mt-10
        text-center
        md:text-left
        items-center
        justify-center
        mx-auto
      "
    >
      <div class="font-bold text-3xl text-white font-robotoMono">
        Basic Settings
      </div>
      <form action="/api/v1/links/<%= link.id %>?_method=PUT" method="post">
        <div class="mt-4">
          <label
            class="block mb-2 text-sm font-medium text-gray-300"
            for="name"
          >
            Invite Code
          </label>
          <input
            class="form-control !w-[75%]"
            id="code"
            name="code"
            type="text"
            placeholder="discord.gg/{invite_code}"
            value="<%= link.code %>"
          />
        </div>
        <div class="mt-4">
          <label
            class="block mb-2 text-sm font-medium text-gray-300"
            for="name"
          >
            Vanity Ending
          </label>
          <input
            class="form-control !w-[75%]"
            id="slug"
            type="text"
            disabled
            value="<%= link.slug %>"
          />
        </div>

        <div class="mt-4">
          <label
            class="block mb-2 text-sm font-medium text-gray-300"
            for="name"
          >
            Privacy
          </label>
         
          <select
          class="form-control !w-[75%]"
          id="private"
          name="private"
      >
          <option
              value="false"
              <%-
             link.private == "false"
                  ? "selected"
                  : ""
              %>
          >
              Public (Anyone is able to discover this link)
          </option>
          <option
              value="true"
              <%-
              link.private == "true"
                  ? "selected"
                  : ""
              %>
          >
              Private (Public, but can not be discovered by anyone)
          </option>
      </select>
        </div>

        <div class="mt-4">
          <button class="btn-danger" type="reset">Reset</button>
          <button class="btn-green" type="submit">Update</button>
        </div>
      </form>

      <form
        action="/api/v1/links/<%= link.id %>?_method=DELETE"
        method="post"
        class="mt-20"
      >
        <h2 class="font-bold text-white text-2xl mb-3 font-robotoMono">
          Danger Zone
        </h2>
        <button type="submit" class="btn-danger">Delete invite</button>
      </form>
    </div>
  </body>
</html>
